# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
log.txt
logabilityfetch.txt
*.log

# Cache
cache/

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*~ 